@{
    ViewData["Title"] = "JokesVerse - Where Simplicity Meets Laughter";
}

<div class="text-center fade-in">
    <h1 class="display-4">Welcome to JokesVerse</h1>
    <p>Discover the joy of laughter with our collection of simple and hilarious jokes.</p>
    <p>Ready to have a good laugh?</p>
   
</div>
